<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fio.tcc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.fio.activity.MenuInicialActivity"
            android:label="@string/app_name"
            android:theme="@style/TelaBackground" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fio.activity.LoginAlunoActivity"
            android:theme="@style/TelaBackground" />
        <activity
            android:name="com.fio.activity.LoginProfessorActivity"
            android:theme="@style/TelaBackground" />
        <activity android:name="com.fio.activity.MenuProfessorActivity" />
        <activity android:name="com.fio.activity.MenuAlunoActivity" />
        <activity android:name="com.fio.activity.ListaChamadaActivity" />
        <activity android:name="com.fio.activity.LancamentoNotasActivity" />
        <activity android:name="com.fio.activity.ChamadaActivity" />
        <activity android:name="com.fio.activity.ListaNotificacoesActivity" />
        <activity android:name="com.fio.activity.DetalhesNotificacaoActivity" />
        <activity android:name="com.fio.activity.ListaMateriaLancarNotaActivity" />
        <activity android:name="com.fio.activity.ListaMateriaAlunoActivity" />
        <activity 
            android:name="com.fio.activity.DetalhesNotaFrequenciaActivity" 
            android:theme="@style/TelaDetalhes" />
        <activity android:name="com.fio.activity.ListaAlunosNotaFrequencia" />
    </application>

</manifest>